@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

table, th,thead,tr,td{
  border: 2px solid black;
  padding: 5px 3px;
  text-align: center;
}